{{ form_start(form, {
    'attr': {'class': 'text-center p-6'},
    'method': formMethod,
}) }}
{{ form_row(form._token) }}

<article class="inline-block">
    <div class="text-left">
            {{ form_label(form.imdb_id, 'IMDb ID', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.imdb_id, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}

            {{ form_label(form.title, 'Title', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.title, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}

            {{ form_label(form.year_of_release, 'Year', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.year_of_release, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}

            {{ form_label(form.runtime, 'Runtime (minutes)', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.runtime, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}

            {{ form_label(form.genre, 'Main genre', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.genre, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}

            {{ form_label(form.imdb_rating, 'IMDb rating', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.imdb_rating, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}

        <div class="director-section">
            {{ form_label(form.directors, 'Director(s), (max. 3)', {
                'label_attr': {'class': 'text-2xl block', 'for': 'movie_directors_0'},
            }) }}

                {% if form.directors | length > 0 %}
                    {% for directorField in form.directors %}
                        <div class="director-field">
                            {{ form_widget(directorField, {
                                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'},
                            }) }}
                            {% if loop.index == 1 %}
                                <button type="button" class="button-add-director text-2xl">+</button>
                            {% else %}
                                <button type="button" class="button-remove-director text-2xl">–</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="director-field">
                        {{ form_widget(form.directors.vars.prototype, {
                            'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'},
                        }) }}
                        <button type="button" class="button-add-director text-2xl">+</button>
                    </div>
                {% endif %}
        </div>

            {{ form_label(form.top_actors[0], 'First top actor', {
                'label_attr': {'class': 'text-2xl block'},
            }) }}

            {{ form_widget(form.top_actors[0], {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'},
                'value': movie.topActors ? movie.topActors[0] : '',
            }) }}

            {{ form_label(form.top_actors[1], 'Second top actor', {
                'label_attr': {'class': 'text-2xl block'},
            }) }}

            {{ form_widget(form.top_actors[1], {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'},
                'value': movie.topActors ? movie.topActors[1] : '',
            }) }}

            {{ form_label(form.my_rating, 'My rating', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.my_rating, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}

            {{ form_label(form.watched_on, 'Watched on (date)', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.watched_on, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'},
                'value': movie.watchedOn ? movie.watchedOn : 'now' | date('d M Y'),
            }) }}

            {{ form_label(form.discussion, 'Link to a discussion', {
                'label_attr': {'class': 'text-2xl block'}
            }) }}

            {{ form_widget(form.discussion, {
                'attr': {'class': 'border-2 text-xl p-2 mb-4 text-black'}
            }) }}
    </div>
</article>

<div class="mt-6"></div>
<button class="p-2 m-8 bg-blue-600 rounded font-bold">{{ button_label|default('Add') }}</button>
<a class="bg-orange-500 text-white no-underline p-2 rounded font-bold m-8" href="{{ path('movies') }}">Cancel</a>

{{ form_end(form, {'render_rest': false}) }}


{% block javascript %}
    <script src="/js/form.js"></script>
{% endblock %}
